/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.board {
  margin: auto;
  border: 3px solid #bdc3c7;
  padding: 10px;
  width: 900px;
}